* {
  box-sizing: border-box;
}

.responsive-img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  width: 100%;
  padding: 16px;
}


.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.demo-card-header2-pic .card-header {
  height: 100vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

.demo-card-header-pic .card-header {
  height: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}


@media (min-width: 768px) {
  .demo-card-header-pic .card-header {
    height: 320px;
  }
}

h1 {
  color: #000;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.padding_text3{

  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 20px;

}

.padding_text{

  padding-top: 50px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 20px;

}
.padding_text2 {
  padding-top: 60px;
  padding-right: 5px;
   padding-left: 5px;
    padding-bottom: 30px;
}

.padding_image{

  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;

}

.padding_image2 {
 padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 50px;

}

.mi_circulo{
   width: 100px;
  height: 150px; 
  background-color: rgb(247,117,83);
  border-radius: 50%;
   display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;

}

.margin_circle{
  margin-left: 90px;
}

.subtitle{
  margin-left: 80px;
 margin-right: 5px;
}

